<!-- ejemplo.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Configuraciones o Metadatos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Estilos o CSS -->
    <link rel="stylesheet" href="/css/estilos-generales.css">
</head>
<body>
    <!-- Contenido HTML -->
    <p>hola <%= nombre %> !</p>
    
    
    <!-- Al final Scripts -->
    <script src="/js/logica-general.js">
        
    </script>
</body>
</html>

